body {
    width: 800px;
    margin-left: 400px;
    
}
.opening_words

{
    color: rgb(125, 22, 22);
    font-family: sans-serif;
} 
 h4{
    color:green
}
button{
    background-color: rgb(113, 22, 27);
    border-radius: 10px;
    color: rgb(211, 218, 23);
    font-family: sans-serif;
}
